.layout-content {
  height: 100%;
  overflow-y: auto;
  background: #fff;
}

.admin-sidebar {
  min-width: 268px !important;

  .ant-menu-item {
    padding-left: 30px !important;
  }

  .ant-menu-submenu-arrow {
    right: 0px !important;
  }
}
