.product-card {
  width: 300px;
  height: 380px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;

    img {
      width: 160px;
      height: 180px;
      object-fit: contain;
    }
  }

  &-markers {
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  h4 {
    color: #0c713d;
  }

  h6 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 8px;
    width: 100%;
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    padding-top: 24px;

    .btn-order {
      color: #0c713d;
      border: 1px solid #0c713d;
    }
  }
}

.modal-card {
  display: flex;
  align-items: center;
  padding: 30px;

  .modal-thumbnail {
    img {
      width: 400px;
    }
  }

  .modal-content-card {
    width: 450px;
    h2 {
      font-size: 28px;
      margin-bottom: 30px;
      color: #0C713D;
    }

    .modal-item-card {
      display: flex;
      margin-bottom: 25px;
      align-items: center;

      div:first-child {
        font-weight: 600;
        width: 30%;
      }
    }
  }
}