.story-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap:50px;
    h2{
        font-weight: 600;
        color: #0C713D;
        margin-bottom: 40px;
    }
}