.tab-menu{
    padding: 10px 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: 600;
    background-color: #f5edff;

    >div{
        cursor: pointer;
        &:hover{
            color: #0C713D;
        }
    }
}