* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
body * {
  font-family: 'Poppins', sans-serif !important;
}

a {
  text-decoration: none !important;
  color: unset;
}

a:hover {
  color: unset;
}
