* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
body * {
  font-family: 'Poppins', sans-serif !important;
}

a {
  text-decoration: none !important;
  color: unset;
}

a:hover {
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}

.page-title {
  font-family: 'Lora', serif !important;
  color: #0c713d;
}
